<%= button_to 'Log Out', logout_path, method: :get, local: true %>

<h2>Discover</h2>
<%= button_to 'Discover Movies', discover_index_path, method: :get, local: true %>

<section id='friends'>
  <h2>Friends</h2>
  <%= form_with model: @friendship, url: '/friendships', local: true do |f| %>
    <%= f.label :friend_email, 'Search by Email:' %>
    <%= f.text_field :search %>
    <%= f.submit "Add Friend" %>
  <% end %>
  <br>
  <% if current_user && current_user.friends.length != 0 %>
    <% current_user.friends.each do |f|  %>
      <%= f.username %>
      <br>
    <% end %>
  <% else %>
    Oh no! You currently have no friends.
  <% end %>
</section>

<section id='viewing-party'>
  <h2>Viewing Party</h2>
  <% if current_user && current_user.parties.count > 0 %>
    <% current_user.parties.each do |party| %>
      Movie: <%= link_to party.movie_title, movie_path(party.movie_id) %><br>
      Date: <%= party.date %><br>
      Start Time: <%= party.start_time %><br>
      Status: <% if current_user.id == party.host_id %>
        Hosting
      <% else %>
        Invited<br>
        Hosted by: <%= party.find_host(party.host_id).username %>
      <% end %><br>
      Guest List: <ul><% if !party.party_guests.nil? %>
                          <% party.party_guests.each do |guest| %>
                          <% if guest.user_id == current_user.id %>
                            <b><li><%= current_user.username %></b> (You)</li>
                          <% else %>
                            <% user = User.find_by(id: guest.user_id) %>
                            <li><%= user.username %></li>
                          <% end %>
                        <% end %>
                        <% else %>
                          Party of one!
                      <% end %></ul>
    <% end %>
  <% else %>
     You are currently invited to 0 parties. Yikes.
  <% end %>
</section>
